body {
    background-image: url("https://image.shutterstock.com/z/stock-vector-traveler-s-accessories-vacation-elements-it-s-time-to-travel-text-travel-concept-background-1101802286.jpg");
    background-repeat: no-repeat;
    background-size: 1280px;
}

header {
    height: 90px;
    text-align: center;
}

#nextbutton {
    font-size: 20px;
    padding: 0 20px;
    background-color: gold;
}

main {
    height: 550px;
}

footer {
    height: 80px;
    margin-top: 90px;
    margin-bottom: 10px;
    font-size: 20px;
    color: maroon;
}

#top {
    font-size: 50px;
    margin-bottom: 5px;
    color: darkmagenta;
}

.container {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 70px 50px;
    font-size: 20px;
}

.options {
    margin: 5px;
    height: 70px;
    width: 150px;
    text-align: center;
    
}

#picture {
    width: 500px;
    height: 250px;
}

#question {
    color: black;
    font-size: 40;
}
