body {
    background-image: url("https://image.shutterstock.com/z/stock-vector-traveler-s-accessories-vacation-elements-it-s-time-to-travel-text-travel-concept-background-1101802286.jpg");
    background-repeat: no-repeat;
    background-size: 1280px;
}

header {
    height: 90px;
    text-align: center;
}

#startbutton {
    background-color: darkorange;
    height: 30px;
    font-size: 20px;
    padding: 0 10px;
}

main {
    height: 550px;
}

footer {
    height: 90px;
}

#top {
    font-size: 50px;
    margin-bottom: 5px;
    color: darkmagenta;
}

.container {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 70px 50px;
    font-size: 20px;
}

.options {
    /* background-color: coral; */
    margin: 5px;
    height: 70px;
    width: 150px;
    text-align: center;
    
}

#picture {
    width: 400px;
    height: 200px;
}

#question {
    color: red;
    font-size: 25;
}

/* .sectionbutton {
    font-size: 15px;
    margin-top: 20px;
} */