body {
    background-image: url("https://image.shutterstock.com/z/stock-vector-traveler-s-accessories-vacation-elements-it-s-time-to-travel-text-travel-concept-background-1101802286.jpg");
    background-repeat: no-repeat;
    background-size: 1280px;
}

header {
    /* background-color: lightcoral; */
    height: 120px;
    text-align: center;
}

main {
    /* background-color: coral; */
    height: 450px;
}

footer {
    /* background-color: lightblue; */
    height: 90px;
}

p {
    padding: 20px;
    font-size: 50px;
    color: darkmagenta;
}

.container {
    display: flex;
    height: 100px;
    justify-content: flex-start;
    margin: 70px 50px;
}

.questions {
    background-color: coral;
    margin: 5px;
    height: 300px;
    width: 150px;
    
}

.intro {
    text-align: center;
}

.button {
    background-color: darkorange;
    height: 30px;
    font-size: 20px;
}