body {
    background-image: url("https://image.shutterstock.com/z/stock-vector-traveler-s-accessories-vacation-elements-it-s-time-to-travel-text-travel-concept-background-1101802286.jpg");
    background-repeat: no-repeat;
    background-size: 1280px;
}

header {
    height: 120px;
    text-align: center;
}

.homebutton {
    background-color: darkorange;
    height: 30px;
    font-size: 20px;
    padding: 0 40px;
}

main {
    height: 450px;
}

footer {
    height: 90px;
}

p {
    font-size: 50px;
    color: darkmagenta;
}

.container {
    display: flex;
    height: 100px;
    justify-content: flex-start;
    margin: 70px 50px;
}

.sections {
    background-color: coral;
    margin: 5px;
    height: 70px;
    width: 150px;
    text-align: center;
    
}

.sectionbutton {
    font-size: 15px;
    margin-top: 20px;
}